*.suo
*.user
bin
obj
packages
/.vs
/.vs/SqlNoSql
/SqlNoSql.Application/bin
/SqlNoSql.Application/obj
/SqlNoSql.Core/bin
/SqlNoSql.Core/obj
/SqlNoSql.NoSql/bin
/SqlNoSql.NoSql/obj
/SqlNoSql.Sql/obj
/SqlNoSql.Sql/bin
/SqlNoSqlConsoleTest/bin
/SqlNoSqlConsoleTest/obj